{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Create log{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-6 offset-md-3">
		<h5>Create Log for Puppy</h5>
		<br>
		<form action="{{ url_for('log.log_get_set') }}" method="POST" name="CreateLogForm">
			<div class="form-group row">
				<label for="PuppyName" class="col-sm-2 col-form-label">Puppy Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="PuppyName" id="PuppyName" placeholder="Enter puppy name">
				</div>
			</div>


			<div class="form-group row">
				<label for="LogLevel" class="col-sm-2 col-form-label">Level</label>
				<div class="col-sm-10">
					<select class="form-control" id="LogLevel" name="LogLevel">
						<option>DEBUG</option>
						<option>INFO</option>
						<option>WARNING</option>
						<option>ERROR</option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="Message" class="col-sm-2 col-form-label">Message</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="Message" id="Message" placeholder="Max 1024 characters">
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock %}