{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Create/Edit puppy{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h5>Create/Edit Puppy</h5>
		<br>
		<form action="{{ url_for('puppy.puppy_get_set') }}" method="POST" name="Login_Form">
			<div class="form-group row">
				<label for="PuppyName" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="PuppyName" id="PuppyName" placeholder="Enter a new name or previous name(to edit entry)">
				</div>
			</div>

			<div class="form-group row">
				<label for="PuppyToken" class="col-sm-2 col-form-label">Token</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="PuppyToken" id="PuppyToken" placeholder="Max 32 characters">
					<input type="button" onclick="generatePuppyToken(32)" class="btn btn-sm btn-outline-primary" value="Generate Token">
				</div>
			</div>

			<div class="form-group row">
				<label for="PuppyMethod" class="col-sm-2 col-form-label">Method</label>
				<div class="col-sm-10">
					<select class="form-control" id="PuppyMethod" name="PuppyMethod">
						<option>GET</option>
						<option>POST</option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="PuppyNotPer" class="col-sm-2 col-form-label">Notification period</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="PuppyNotPer" id="PuppyNotPer" value="300" placeholder="Enter value in seconds">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

<script type="text/javascript">
	function makeid(length) {
		var result           = '';
		var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
		var charactersLength = characters.length;
		for ( var i = 0; i < length; i++ ) {
			result += characters.charAt(Math.floor(Math.random() * charactersLength));
		}
		return result;
	}

	function generatePuppyToken(length) {
		document.getElementById("PuppyToken").value=makeid(length);
	}

</script>

{% endblock %}