{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Create Task{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h5>Create Task for Puppy</h5>
		<br>
		<form action="{{ url_for('task.task_get_set') }}" method="POST" name="CreateTaskForm">
			<div class="form-group row">
				<label for="PuppyName" class="col-sm-2 col-form-label">Puppy Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="PuppyName" id="PuppyName" placeholder="Enter puppy name">
				</div>
			</div>


			<div class="form-group row">
				<label for="LogLevel" class="col-sm-2 col-form-label">Level</label>
				<div class="col-sm-10">
					<select class="form-control" id="LogLevel" name="LogLevel">
						<option>DEBUG</option>
						<option>INFO</option>
						<option>WARNING</option>
						<option>ERROR</option>
					</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="Job" class="col-sm-2 col-form-label">Job</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="Job" id="Job" placeholder="Max 1024 characters">
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6 offset-md-3">
		<br><br>
	<strong>Examples</strong>
	<br>
	1. log - LOG::
	<br>
	2. send HTTP request - POST/GET::url?key=value
	<br>
	3. Telegram bot - TELEGRAM::BOT_API_KEY::CHAT_ID::MESSAGE_TEXT
	<br><br>
	<strong>Placeholders</strong> (Only works for Telegram and Http functions)
	<br>
	1. 	&#123;&#123;name&#125;&#125;
	<br>
	2. &#123;&#123;level&#125;&#125;
	<br>
	3. &#123;&#123;message&#125;&#125;
	</div>
</div>


{% endblock %}