{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Delete Task{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h5>Delete a Task</h5>
		<br>
		<form action="{{ url_for('task.task_del') }}" method="POST" name="CreateTaskForm">
			<div class="form-group row">
				<label for="taskId" class="col-sm-2 col-form-label">Task id</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="taskId" id="taskId" placeholder="Enter the task id to delete">
				</div>
			</div>


			<button type="submit" class="btn btn-primary">Delete</button>
		</form>
	</div>
</div>


{% endblock %}