{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Delete Task{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h5>Delete a Log</h5>
		<br>
		<form action="{{ url_for('log.log_del') }}" method="POST" name="deleteLogForm">
			<div class="form-group row">
				<label for="logId" class="col-sm-2 col-form-label">Log id</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="logId" id="logId" placeholder="Enter the log id to delete">
				</div>
			</div>


			<button type="submit" class="btn btn-primary">Delete</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6 offset-md-3">
		<br><br>
		<strong>Examples</strong>
		<br>
		1. Single entry - 1
		<br>
		2. List of entries - 2,3,4,5,6
		<br>
		3. Between (including high and low) - 10-20
		<br>
		4. Comparative - <100 or >100
	</div>
</div>


{% endblock %}