{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Delete Puppy{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h5>Delete a Puppy</h5>
		<br>
		<form action="{{ url_for('puppy.puppy_del') }}" method="POST" name="CreateTaskForm">
			<div class="form-group row">
				<label for="name" class="col-sm-2 col-form-label">Puppy Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" id="name" placeholder="Enter the puppy name to delete">
				</div>
			</div>


			<button type="submit" class="btn btn-primary">Delete</button>
		</form>
	</div>
</div>

{% endblock %}