{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="row">
<div class="text-center col-md-4 offset-md-4">
	    <form class="form-signin" action="{{ url_for('auth.login') }}" method="POST">
      <img class="mb-4" src="/static/img/logo.jpg" height="60">
      <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
      <label for="Username" class="sr-only">Email address</label>
      <input type="text" name="Username" id="Username" class="form-control" placeholder="Email address" required autofocus>
      <label for="Password" class="sr-only">Password</label>
      <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
    </div>
</div>
{% endblock %}
