<h4>All Logs</h4>
<table id="LogsTable"  class="table table-striped table-bordered" style="width:100%"></table>

<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "{{ url_for('log.log_get_set') }}";
var method = 'GET';



xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myArr = JSON.parse(this.responseText);

        for (let i of myArr) {
            i.Timestamp = unixToTimestr(i.Timestamp);
        }

        logsFunction(myArr);
    }
};

xmlhttp.open(method, url, true);
xmlhttp.send();

function logsFunction(arr) {
    var logs_table = $('#LogsTable').DataTable(
    	{
    		data: arr,
    		"pageLength": 10,
    		// "lengthChange": false,
    		columns: [
    		{ data: 'idLog' ,title:'Id'},
    		{ data: 'Puppy_Name' ,title:'Pup name'},
    		{ data: 'LogLevel_idLevel' ,title:'Level'},
            { data: 'Timestamp' ,title:'Timestamp'},
            { data: 'Message' ,title:'Message'},
    		]
    	});

    $(logs_table.table().header().rows).clone(true).appendTo( logs_table.table().header() );
    $(logs_table.table().header().rows[1].cells).each( function (i) {
        var title = $(this).text();
        $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( logs_table.column(i).search() !== this.value ) {
                logs_table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    
    logs_table.column(0).order('desc');
    logs_table.draw()
}

function unixToTimestr(unixTime) {
    /*
    This function converts unix timestamp to m2l5 signal styled
    remember to offset the time diffeence
    */
    let time_diff = new Date().getTimezoneOffset()*60;
    let date_obj = new Date((unixTime+time_diff)*1000);

    let year = date_obj.getFullYear();
    let month = String(date_obj.getMonth()+1).padStart(2,0);
    let date = String(date_obj.getDate()).padStart(2,0);
    let hour = String(date_obj.getHours()).padStart(2,0);
    let minute = String(date_obj.getMinutes()).padStart(2,0);
    let second = String(date_obj.getSeconds()).padStart(2,0);
    return `${year}-${month}-${date} ${hour}:${minute}:${second}`;
}

</script>