<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<!-- <a class="navbar-brand" href="{{ url_for('admin') }}">Watchdog</a> -->


	{% if session.get('logged_in') %}
	  <a class="navbar-brand" href="{{ url_for('admin') }}">
    <img src="/static/img/logo.jpg" height="30" class="d-inline-block align-top" alt="">
    
  	</a>
	
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">


			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('puppy.create_puppy_page') }}">+Create Puppy</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('task.create_task_page') }}">+Create Task</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('puppy.puppy_del') }}">-Delete Puppy</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('task.task_del') }}">-Delete Task</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('log.log_del') }}">-Delete Log</a>
			</li>

		</ul>

		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link" href="#">Server time: {{today_date}}    </a>
			</li>
		</ul>

		<ul class="navbar-nav ml-auto">



			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
			</li>

		</ul>
	</div>
	{% endif %}



</nav>