
<h4>All Puppies</h4>
<table id="PuppiesTable"  class="table table-striped table-bordered" style="width:100%"></table>


<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "{{ url_for('puppy.puppy_get_set') }}";
var method = 'GET';

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myArr = JSON.parse(this.responseText);

        for (let i of myArr) {
            i.ReportLast = unixToTimestr(i.ReportLast);
            i.NotifyLast = unixToTimestr(i.NotifyLast);
        }
        
        puppiesFunction(myArr);
    }
};

xmlhttp.open(method, url, true);
xmlhttp.send();

function puppiesFunction(arr) {
    var puppies_table = $('#PuppiesTable').DataTable(
    	{
    		data: arr,
    		"pageLength": 10,
    		// "lengthChange": false,
    		columns: [
    		{ data: 'Name' ,title:'Name'},
    		{ data: 'Token' ,title:'Token'},
    		{ data: 'Method' ,title:'Method'},
            { data: 'ReportInterval' ,title:'Report interval'},
            { data: 'ReportLast' ,title:'Report last'},
            { data: 'NotifyInterval' ,title:'Notify interval'},
            { data: 'NotifyLast' ,title:'Notify last'},
    		]
    	});

    $(puppies_table.table().header().rows).clone(true).appendTo( puppies_table.table().header() );
    $(puppies_table.table().header().rows[1].cells).each( function (i) {
        var title = $(this).text();
        $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( puppies_table.column(i).search() !== this.value ) {
                puppies_table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    puppies_table.draw()
}

function unixToTimestr(unixTime) {
    /*
    This function converts unix timestamp to m2l5 signal styled
    remember to offset the time diffeence
    */
    let time_diff = new Date().getTimezoneOffset()*60;
    let date_obj = new Date((unixTime+time_diff)*1000);

    let year = date_obj.getFullYear();
    let month = String(date_obj.getMonth()+1).padStart(2,0);
    let date = String(date_obj.getDate()).padStart(2,0);
    let hour = String(date_obj.getHours()).padStart(2,0);
    let minute = String(date_obj.getMinutes()).padStart(2,0);
    let second = String(date_obj.getSeconds()).padStart(2,0);
    return `${year}-${month}-${date} ${hour}:${minute}:${second}`;
}

</script>