<h4>All Tasks</h4>
<table id="TasksTable"  class="table table-striped table-bordered" style="width:100%"></table>

<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "{{ url_for('task.task_get_set') }}";
var method = 'GET';

xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        var myArr = JSON.parse(this.responseText);
        tasksFunction(myArr);
    }
};

xmlhttp.open(method, url, true);
xmlhttp.send();

function tasksFunction(arr) {
    var tasks_table = $('#TasksTable').DataTable(
    	{
    		data: arr,
    		pageLength: 10,
    		// lengthChange: false,
    		columns: [
    		{ data: 'idTask' ,title:'Id'},
    		{ data: 'Puppy_Name' ,title:'Pup name'},
    		{ data: 'LogLevel_idLevel' ,title:'Level'},
            { data: 'Job' ,title:'Job'},
    		]
    	});

    $(tasks_table.table().header().rows).clone(true).appendTo( tasks_table.table().header() );
    $(tasks_table.table().header().rows[1].cells).each( function (i) {
        var title = $(this).text();
        $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( tasks_table.column(i).search() !== this.value ) {
                tasks_table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    tasks_table.draw()
}
</script>